campus-connect-app\src\firebase\index.js

apiKey: "Firebase_API_Key"

authDomain: "Firebase_Auth_Domain"

databaseURL: "Firebase_Database_URL"

projectId: "Firebase_Project_ID"

storageBucket: "Firebase_Storage_Bucket"

messagingSenderId: "Firebase_Messaging_Sender_ID"

appId: "Firebase_App_ID"